.wrapper {
    margin: 50px 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.subheading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 17px;

    color: #000000;

    margin-bottom: 50px;
}

.question {
}
.answer {
}
