.string {
    &__subheading {
    }

    &__checkbox-list {
    }

    &__wrap-checkbox {
        margin-bottom: 50px;
    }

    &__checkbox {
    }

    &__question {
        font-size: 18px;
    }

    &__answer {
        color: #6e85ab;
    }
}
