// * ===== fonts ===== * //
@import "_fonts";

// * ===== null ===== * //
@import "_variables";
@import "_nullstyle";

body {
    font-family: "Roboto", sans-serif;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

// * ===== bem blocks ===== * //
@import "_blocks";

// * ===== header ===== * //

// * ===== main ===== * //
@import "_page";

// * ===== all sections ===== * //
@import "_string";
@import "_dom";

// * ===== footer ===== * //
